<h1>Привет! Пожалуйста, подтвердите Ваш Email!</h1>

<p>
    Пожалуйста, для изменения адреса подтвердите Ваш email по ссылке: <br><br>
    <a href="{{ signedUrl }}">Изменить мой email</a>.
    Эта ссылка истекает через {{ expiresAtMessageKey|trans(expiresAtMessageData, 'VerifyEmailBundle') }}.
</p>

<p>
    Спасибо!
</p>
